@media (max-width:320px) {
    /* header */
    .logo img{
        max-width: 130px;
        min-height: 50px;
    }
    .menu{
        display: none;
    }
    .container{
        margin-left: 5px;
        margin-right: 5px;
    }
    /* section - main-content */
    .main-content img {
        max-width:200px;
        min-height: 100px;
    }
    .main-title{
        font-family: 'Merriweather', sans-serif;
        font-size: 50px;
        line-height: 130%;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 26px;
        margin-top: 20px;
    }
    .main-text{
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 26px;
    }
    .button {
        width: 200px;
    }   
    .common-title {
        font-family: 'Merriweather', sans-serif;
        font-size: 34px;
        line-height: 50px;
        color: var(--unnamed, #FFF);
        text-align: center;
        letter-spacing: 1.92px;
        text-transform: uppercase;
    }
    /* why */
    .why{
        padding-bottom: 100px;
    }
    .why-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        margin-top: 60px;
        gap: 100px;
        justify-content: center;
    }
    /* section - products */
    .products{
        padding-bottom: 100px;
    }


    /* products-item card */
    .products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px; /* Отступ между карточками*/
    }
    .products-item-image{
        min-height: 200px;
    }
    /*  section - order */
    .order  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 100px;
    }
    .order-image {
        max-width: 580px;
        min-height: 580px;
        top: 0;
        right: calc(100% - 364px);
    }
    /*===============  */
    .order-form {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        border: 1px solid #353535;
        background: #211A16;
        margin-top: 340px;
        max-width: 320px;
        padding: 10px 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .order-form-text {
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    
    .order-form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    
    .order-form-input {
        border: 1px solid linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
        width: 260px;
        height: 62px;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .order-form-input input {
        padding: 20px 10px;
        max-width: 260px;
        background: #211A16;
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
        color: white;
        transition: all .2s ease-in-out;
    }
    .order-form-input input:focus{
        box-shadow: 0px 1px 55px 1px rgba(	218,128,35, 0.60);
    }
    
    .order-form-inputs .button {
        max-width: 250px;
    }
    /* footer */
    .rights{
        max-width: 120px;
    }
}
@media (max-width:425px){
    /* header */
    .logo img{
        max-width: 130px;
        min-height: 50px;
    }
    .menu{
        display: none;
    }
    .container{
        margin-left: 5px;
        margin-right: 5px;
    }
    /* section - main-content */
    .main-content{
        padding-bottom: 100px;
    }
    .main-content img {
        max-width:200px;
        min-height: 100px;
    }
    .main-title{
        font-family: 'Merriweather', sans-serif;
        font-size: 50px;
        line-height: 130%;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 26px;
        margin-top: 20px;
    }
    .main-text{
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 26px;
        max-width: 400px;
    }
    .button {
        width: 250px;
    }   
    .common-title {
        font-family: 'Merriweather', sans-serif;
        font-size: 34px;
        line-height: 50px;
        color: var(--unnamed, #FFF);
        text-align: center;
        letter-spacing: 1.92px;
        text-transform: uppercase;
    }
    /* why */
    .why{
        padding-bottom: 100px;
    }
    .why-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
        margin-top: 60px;
        gap: 100px;
        justify-content: center;
    }
    .why-item{
        max-width: 370px;
        margin: 0 auto;
    }
    /* section - products */
    .products{
        padding-bottom: 100px;
    }


    /* products-item card */
    .products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px; /* Отступ между карточками*/
    }
    .products-item-image{
        min-height: 200px;
    }
    /*  section - order */
    .order  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .order-image {
        max-width: 580px;
        min-height: 340px;
        left: -120px;
        bottom: 40px;
        
    }
    /*===============  */
    .order-form {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        border: 1px solid #353535;
        background: #211A16;
        max-width: 360px;
        padding: 10px 12px;
        margin:  340px auto 0 auto;
        
    }
    .order-form-text {
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    
    .order-form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    
    .order-form-input {
        max-width: 260px;
        margin:  0 auto;
        height: 62px;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .order-form-input input {
        padding: 20px 10px;
        max-width: 320px;
        background: #211A16;
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
        color: white;
        transition: all .2s ease-in-out;
    }
    .order-form-input input:focus{
        box-shadow: 0px 1px 55px 1px rgba(	218,128,35, 0.60);
    }
    
    .order-form-inputs .button {
        max-width: 260px;
        margin:  0 auto;
    }
    /* footer */
    .rights{
        max-width: 120px;
    }
}
@media (max-width:375px){
    /* header */
    .logo img{
        max-width: 130px;
        min-height: 50px;
    }
    .menu{
        display: none;
    }
    .container{
        margin-left: 5px;
        margin-right: 5px;
    }
    /* section - main-content */
    .main-content img {
        max-width:200px;
        min-height: 100px;
    }
    .main-title{
        font-family: 'Merriweather', sans-serif;
        font-size: 50px;
        line-height: 130%;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 26px;
        margin-top: 20px;
    }
    .main-text{
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 26px;
    }
    .button {
        width: 200px;
    }   
    .common-title {
        font-family: 'Merriweather', sans-serif;
        font-size: 34px;
        line-height: 50px;
        color: var(--unnamed, #FFF);
        text-align: center;
        letter-spacing: 1.92px;
        text-transform: uppercase;
    }
    /* why */
    .why{
        padding-bottom: 100px;
    }
    .why-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        margin-top: 60px;
        gap: 100px;
        justify-content: center;
    }
    .why-item{
        max-width: 320px;
        margin: 0 auto;
    }
    /* section - products */
    .products{
        padding-bottom: 100px;
    }


    /* products-item card */
    .products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px; /* Отступ между карточками*/
    }
    .products-item-image{
        min-height: 200px;
    }
    /*  section - order */
    .order  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .order-image {
        max-width: 580px;
        min-height: 340px;
        left: -120px;
        bottom: 40px;
        
    }
    /*===============  */
    .order-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 16px;
        border: 1px solid #353535;
        background: #211A16;
        max-width: 340px;
        margin:  340px auto 0 auto;
        padding: 10px 12px;
        
    }
    .order-form-text {
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    
    .order-form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    
    .order-form-input {
        max-width: 290px;
        margin:  0 auto;
        height: 62px;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .order-form-input input {
        padding: 20px 10px;
        max-width: 320px;
        background: #211A16;
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
        color: white;
        transition: all .2s ease-in-out;
    }
    .order-form-input input:focus{
        box-shadow: 0px 1px 55px 1px rgba(	218,128,35, 0.60);
    }
    
    .order-form-inputs .button {
        max-width: 290px;
    }
    /* footer */
    .rights{
        max-width: 120px;
    }
}